[buildout]
extensions += mr.developer

always-checkout = force
auto-checkout =
    isaw.events
    isaw.facultycv
    isaw.theme
    isaw.policy

parts = 
	instance
	zopeskel
	chown

extends = 
	http://dist.plone.org/release/4.0-latest/versions.cfg
	base.cfg

find-links = http://dist.repoze.org

eggs =
	wildcard.fixpersistentutilities

develop =

[instance]
recipe = plone.recipe.zope2instance
http-address = 66.35.39.43:8086
eggs =
    Plone
    pillow
    isaw.policy
# can the following eggs be identified as dependencies of one of our other
#  packages?
    collective.portlet.relateditems
    plone.app.caching
    plone.contentratings
    tweepy

zcml =

    collective.portlet.relateditems

develop =

debug-mode = on
backups-dir=${buildout:directory}/var

#default user
user=admin:admin

[versions]
# needs work desperately
Cheetah = 2.2.1
Paste = 1.7.2
PasteScript = 1.7.3
ZopeSkel = 2.15
collective.recipe.backup = 1.3
plone.recipe.command = 1.0
plone.recipe.distros = 1.5
plone.recipe.unifiedinstaller = 4.0a1
PasteDeploy = 1.3.3
zope.schema = 3.6.1

[sources]
isaw.events =  git git@github.com:isawnyu/isaw.events.git
isaw.facultycv = git git@github.com:isawnyu/isaw.facultycv.git
isaw.policy = git git@github.com:isawnyu/isaw.policy.git
isaw.theme = git git@github.com:isawnyu/isaw.theme.git branch=jazkarta_fixes
