[buildout]
extends-cache = cache
extends =
    cfg/base.cfg
    cfg/sources.cfg

parts +=
# Develop only parts
    client1
    client2
    zeoserver
    supervisor
    ipzope
    zopepy
    test
    coverage-test
    coverage-report
    mkrelease
    zopeskel
    omelette

[client1]
debug-mode = off
verbose-security = off
eggs +=
    plone.reload
#    Products.PDBDebugMode

[client2]
<= client1
http-address = 8082

[supervisor]
recipe = collective.recipe.supervisor
port = 127.0.0.1:9003
user = admin
password = admin
supervisord-environment =
    TMPDIR=${tmp:paths}
programs =
    10 zeoserver ${buildout:directory}/parts/zeoserver/bin/runzeo true
    20 client1 (autostart=false) ${buildout:directory}/bin/client1 [console] true
    20 client2 (autostart=false startsecs=5) ${buildout:directory}/bin/client2 [console] true

[zopepy]
recipe = zc.recipe.egg
eggs =
    ${client1:eggs}
    compoze==1.0
interpreter = zopepy
scripts =
    zopepy
    compoze

[test-environment]
ISAW_PRODUCTION = False

[test]
recipe = zc.recipe.testrunner
eggs =
    ${buildout:eggs}
    plone.app.imagecropping[test]
    plone.app.testing
    plone.app.robotframework
    robotsuite
#    plone.app.contenttypes

defaults = ['--exit-with-status', '--auto-color', '--auto-progress']
environment = test-environment

[coverage-test]
recipe = zc.recipe.testrunner
eggs = ${test:eggs}
defaults = ['--coverage', '../../coverage', '-v', '--auto-progress']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport
arguments = ('coverage', 'report')

[mkrelease]
recipe = zc.recipe.egg
eggs = jarn.mkrelease
scripts = mkrelease

[zopeskel]
recipe = zc.recipe.egg
eggs =
    PasteScript
    ZopeSkel
    templer.localcommands
    templer.dexterity
    Plone
    ${buildout:eggs}

[omelette]
recipe = collective.recipe.omelette
eggs = ${client1:eggs}

[ipzope]
recipe = zc.recipe.egg
eggs =
    ipython
    ${buildout:eggs}
initialization =
    import sys, os
    os.environ["INSTANCE_HOME"] = "${client1:location}"
    sys.argv[1:1] = "--profile=zope".split()
scripts = ipython=ipzope

[versions]
ipython = 0.12
