[buildout]
extends-cache = cache
extends =
    cfg/base.cfg
    cfg/sources.cfg

parts +=
# Develop only parts
    client1
    client2
    client3
    client4
    zeoserver
    supervisor

[client1]
debug = false

[client2]
<= client1
http-address = 8082

[client3]
<= client1
http-address = 8083

[client4]
<= client1
http-address = 8084

[supervisor]
recipe = collective.recipe.supervisor
port = 127.0.0.1:9003
user = admin
password = admin
plugins =
    superlance
supervisord-environment =
    TMPDIR=${tmp:paths}
programs =
    10 zeoserver ${buildout:directory}/parts/zeoserver/bin/runzeo true
    20 client1 ${buildout:directory}/bin/client1 [console] true
    20 client2 (startsecs=5) ${buildout:directory}/bin/client2 [console] true
    20 client3 (startsecs=10) ${buildout:directory}/bin/client3 [console] true
    20 client4 (autostart=false) ${buildout:directory}/bin/client4 [linkcheck] true
groups =
    1000 clients client1,client2,client3
eventlisteners =
    Memmon TICK_60 ${buildout:bin-directory}/memmon [-g clients=750MB]
