
/* Open Sans 
by Steve Matteson
Apache License, version 2.0
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic);

/* Questrial 
by Joe Prince
SIL Open Font License, 1.1
*/
@import url(https://fonts.googleapis.com/css?family=Questrial);



